@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--font-sans: lexend, sans-serif;

	--color-border: var(--color-neutral-200);
}
@custom-variant dark (&:where(.dark, .dark *));

iframe {
	width: 100%;
	aspect-ratio: 16 / 9;
	height: auto;
}

@media (min-width: 768px) {
	iframe {
		max-width: 50%;
	}
}
